

.todo-list-item {
	display: block;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
	border: 3px solid black;
	border-radius: 5px;
}

.todo-title {
	text-align: center;
	font-size: 40px;
}

.delete-button {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	color: rgba(255, 0, 0, 0.65);
	font-size: 20px;
	cursor: pointer;
}

.delete-button:hover {
	color: rgb(163, 33, 29);
	transition: color 0.5s;
}

